*{
    margin: 0;
    padding: 0;
    text-decoration: none;
} 

@font-face {
  font-family: 'Pricedown';
  src: url('../fonts/Pricedown.tff.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body{
    background-color: #1a1818;
    color: white;
    text-align: center;
    overflow-x: hidden;
    
    font-family: 'Poppins', sans-serif ;
    
}
body::-webkit-scrollbar{
    display: none;
}

header{
    background-color: #7A78FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 40px;
    /* padding-left: 40px;
    padding-right: 40px; */
    /* margin-top: 10px; */
   
}

header .logoname a{
    font-family: 'Pricedown', sans-serif;

    color: white;
    font-size: 30px;
    margin-left: 5px;
}



header .navbarPC a{
    margin: 25px;
    color: white;
}
header .navbarPC a:hover{
    color: darkgrey;
}




.hamburger{
    display: none;
}
.hamburger svg{
    fill: white;
    width: 25px;
}





.MobileMenu{
    display: none;
    background-color: #7A78FA;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 180px;
    text-align: center;
}
.MobileMenu a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 20px;
}





.globe{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 17vh;
    align-items: center;

    margin-left: 40px;
    margin-right: 40px;
}
.gauche{
    width: 50%;
    display: block;
}


.globe img{
    width: 60%;
    margin-bottom: 20px;
}


.gauche .links {
    text-align: center;
    margin-top: 20px;
}
.links a{
    margin: 0 10px;
    display: inline-block;
    color: #7A78FA;
}
.links a svg{
    width: 40px;
}





.bloc{
    margin-left: 60px;
    margin-right: 60px;
}
.bloc img{
    width: 60%;
    margin-bottom: 20px;
}


.bloc .links {
    text-align: center;
    margin-top: 50px;
    display: none;
}
.bloc a{
    margin: 0 10px;
    display: inline-block;
    color: #7A78FA;
}
.bloc a svg{
    width: 20px;
}






.logouser{
    text-align: center;
    justify-content: center;
    
}
.logouser svg{
    fill:  #7A78FA;
    width: 80px;
}




.bloc h2{
    margin-bottom: 30px;
    color:  #7a78fa; 
}
.bloc .formulaire input{
    margin: 10px auto;
    width: 300px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border: solid 2px rgb(223, 212, 212);
    border-top: none;
    border-left: none;
    border-right: none;
}
.bloc .formulaire input:hover{
    border-bottom-color: #6C63FF;
    transition: ease 2s;
}

.bloc .formulaire button{
    width: 300px;
    height: 35px;
    font-size: 18px;
    margin-top: 15px;
    background-color: #6C63FF;
    color: #FFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.bloc .formulaire button:hover{
    background-color: #554EE2;
    transition: ease 2s;
    letter-spacing: 1px;

}







/* RENDONS NOTRE PAGE RESPONSIVE */
@media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

    header .navbarPC a{
        display: none;
    }

    .hamburger{
        display: block;
        font-size: 21px;
        cursor: pointer;
    }

    .logouser{
        margin-top: 120px;
    }

    .globe{
        display: block;
        align-items: center;
        justify-content: center;
        margin: auto 0;
    }

    .globe .gauche{
        display: none;
    }

    .bloc .formulaire input{
        width: 100%;
    }
    .bloc .formulaire button{
        width: 100%;
    }


    .bloc .links {
        margin-top: 80px;
        display: block;
}
}